<h2>Name of the list:</h2>
<h2><%= @list.name %></h2>

<p><strong>bookmarks</strong></p>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= bookmark.content %></li>
  <% end %>
</ul>
<br>
